.main{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(45deg,black,darkblue,blue,red);
}

form{
    height: 380px;
    font-size: 30px;
    width: 400px;
    backdrop-filter: brightness(70%) blur(10px);
    position: absolute;
    top: 50%;
    left:50%;
    translate: -50% -50%;
    color: white;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form p{
    position: absolute;
    top : 10px;
}

input{
    height: 30px;
    width: 80%;
    position: absolute;
    padding-left: 5px;
    background-color: transparent;
    border: none;
    border-bottom: white 1px solid;
    color:white;
}

#username{
    top: 120px;
}
#password{
    top: 200px;
}
#submit{
    top: 300px;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    background-color: red;
    border: 2px white solid;
    color: white;
    font-weight: bolder;
}
#submit:disabled{
    opacity: 0.5;
}
label{
    position: absolute;
    font-size: 15px;
    color: #767272;
    left: 10%;
    transition: all 0.5s ease-in-out;
}
.username{
    top: 130px;
}
.password{
    top: 210px;
}
#username:focus{
    outline: none;
}
#password:focus{
    outline: none;
}
#eye{
    position: absolute;
    top: 210px;
    background: transparent;
    color: white;
    border: none;
    right: 40px;
    height: 20px;
    width: 20px;
    font-size: 15px;
}

.waswrong{
    position: absolute;
    top:260px;
    height: 30px;
    display: flex;
    align-content: center;
    align-items: center;
    width: 80%;
    font-size: 10px;
    color: white;
    font-weight: lighter;
    background-color: rgba(255, 0, 0, 0.532);
    visibility: hidden;
}
.waswrong i{
    margin: 2px;
}