*{
    overflow-x: hidden;
}

.navbar{
    /* background-color: #212121; */
    backdrop-filter: brightness(50%) blur(10px);
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;
    display: flex;
    z-index: 1;
}
.logo{
    font-family: "Allura";
}
.logo .icon-logo{
    font-size: 30px;
}
.logo p{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
.navbar ul{
    display: flex;
    width: 95%;
    justify-content: space-between;
    position: absolute;
    left: 0px;
    top: 0px;
    list-style: none;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    margin:0px;
    height: 100%;
    align-items: center;
}
.navbar .icon{
    font-size: 24px;
}
.navbar ul li a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-decoration: none;
}
.navbar p{
    margin-left: 10px;
}
.navbar li:hover{
    cursor: pointer;
}

.main{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(45deg,#212121,darkblue,blue,red);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    flex-wrap: wrap;
}
.main p{
    width: 70%;
    height: auto;
    font-size: 30px;
    font-family:"VT323";
    text-align: center;
    line-height: 40px;
}

.main button{
    width: 200px;
    height: 80px;
    margin: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 40px;
    background-color: red;
    color: white;
    font-family: "Allura";
    font-weight: bolder;
    font-size: 20px;
    border: white 2px solid;
}

.main button:hover{
    background-color: rgb(128, 0, 0);
}
.main button:active{
    border: white 1px solid;
}