*{
    overflow: hidden;
}

body{
    overflow-y:auto;
}

.navbar{
    height: 50px;
    width: 100vw;
    background-color: #2121219d;
    background: radial-gradient(ellipse at top, blue, #212121);
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    z-index: 1;
    border-bottom: 1px white solid;
    box-sizing: border-box;
}
.navbar a{
    display: flex;
    align-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.navbar p{
    margin: 0px;
    margin-left: 10px;
    font-size: 20px;
    padding: 0px;
    font-family: "VT323";
}
.navbar .icon{
    font-size: 24px;
}
.icon-logo{
    font-size: 30px;
}
.logo p{
    font-family: "Allura";
}

.main{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0px;
    left: 0px;
    background: radial-gradient(ellipse at top, blue, #212121);
}
.profile{
    height: calc(100vh - 50px);
    width: 300px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(to right, blue, #212121);
    border-right: 1px white solid;
    box-sizing: border-box;
}
.avatar{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 50px;
    background: radial-gradient(circle at center, white, #f0f0f0,violet);
    border: 2px red solid;
    box-sizing: border-box;
    background-size: cover;
}
.name{
    height: 50px;
    width: 100%;
    position: absolute;
    color: white;
    font-family: "VT323";
    top: 250px;
    text-align: center;
    font-size: 30px;
}
.settings{
    height: 50px;
    width: 80%;
    color: white;
    font-family: "VT323";
    font-size: 20px;
    justify-self: center;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.settings a{
    color: white;
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.settings div{
    width: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.setting1{
    top: 310px;
}
.setting2{
    top: 360px;
    backdrop-filter: blur(10px) brightness(60%);
}
.setting3   {
    top: 410px;
}
.settings i{
    font-size: 15px;
    height: 100%;
}
.settings:hover{
    cursor: pointer;
}
.hidden-settings{
    position: absolute;
    height: 100px;
    width: 80%;
    font-family: "VT323";
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-self: center;
    position: absolute;
    top: 340px;
    transition: all 1s ease-in-out;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
}
.angle{
    transition: all 1s ease-in-out;
}
.angle-rotate{
    transform: rotate(180deg);
}
.appear{
    opacity: 1;
    transform: translateY(120px)
}
.h-setting{
    width: 100%;
    flex-shrink: 0;
    margin-left: 20px;
}
.h-setting a{
    color: white;
    text-decoration: none;
}

.change-avatar{
    height: calc(100vh - 50px);
    width: calc(100vw - 300px);
    position: absolute;
    top: 50px;
    right: 0px;
    font-size: 30px;
    font-family: "VT323";
    color: white;
}
.change-avatar p{
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 0px;
    margin: 0px;
}
.avatar-box{
    position: absolute;
    left: 2.5%;
    top: 80px;
    height: 85%;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: space-around;
}
.avatars{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: white;
    scale:0.9;
    transition: all 0.25s ease-in-out;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease-in-out;
}
.easeout{
    opacity: 0.6;
    scale: 0.8;
}
.avatar-box::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
}   
.avatar-box::-webkit-scrollbar-thumb{
    background-color: rgb(49, 49, 69);
}
.avatar-box::-webkit-scrollbar-track{
    background-color: transparent;
}