*{
    overflow: hidden;
}

body{
    overflow-y:auto;
}

.navbar{
    height: 50px;
    width: 100vw;
    background-color: #2121219d;
    background: radial-gradient(ellipse at top, blue, #212121);
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    z-index: 1;
    border-bottom: 1px white solid;
    box-sizing: border-box;
}
.navbar a{
    display: flex;
    align-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.navbar p{
    margin: 0px;
    margin-left: 10px;
    font-size: 20px;
    padding: 0px;
    font-family: "VT323";
    color: white;
    cursor: pointer;
}
.navbar .icon{
    font-size: 24px;
}
.icon-logo{
    font-size: 30px;
}
.logo p{
    font-family: "Allura";
}

.main{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0px;
    left: 0px;
    background: radial-gradient(ellipse at top, blue, #212121);
}
.profile{
    height: calc(100vh - 50px);
    width: 300px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(to right, blue, #212121);
    border-right: 1px white solid;
    box-sizing: border-box;
}
.avatar{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 50px;
    background: radial-gradient(circle at center, white, #f0f0f0,violet);
    border: 2px red solid;
    box-sizing: border-box;
    background-size: cover;
}
.name{
    height: 50px;
    width: 100%;
    position: absolute;
    color: white;
    font-family: "VT323";
    top: 250px;
    text-align: center;
    font-size: 30px;
}
.settings{
    height: 50px;
    width: 80%;
    color: white;
    font-family: "VT323";
    font-size: 20px;
    justify-self: center;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings a{
    color: white;
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.settings div{
    width: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.setting1{
    top: 310px;
}
.setting2{
    top: 360px;
}
.setting3   {
    top: 410px;
}
.settings i{
    font-size: 15px;
    height: 100%;
}
.settings:hover{
    cursor: pointer;
}
.hidden-settings{
    position: absolute;
    height: 100px;
    width: 80%;
    font-family: "VT323";
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-self: center;
    position: absolute;
    top: 340px;
    transition: all 1s ease-in-out;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
}
.angle{
    transition: all 1s ease-in-out;
}
.angle-rotate{
    transform: rotate(180deg);
}
.appear{
    opacity: 1;
    transform: translateY(120px)
}
.h-setting{
    width: 100%;
    flex-shrink: 0;
    margin-left: 20px;
}
.h-setting a{
    color: white;
    text-decoration: none;
}

.plotdetails{
    height: calc(100vh - 50px);
    width: calc(100% - 300px);
    background: radial-gradient(circle at center,violet, blue,black);
    color: white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow-y: auto;
}
.plot{
    width: 80%;
    height: 300px;
    margin: 10px;
    scrollbar-width: thin;
    backdrop-filter: blur(100px) brightness(60%);
    border-radius: 10px;
    border: 1px blue solid; 
    justify-self: center;
}
.plotdetails::-webkit-scrollbar{
    background-color: #212121;
    width: 10px;
}   
.plotdetails::-webkit-scrollbar-thumb{
    background-color: rgb(49, 49, 69);
    width: 80%; 
}
.plotdetails::-webkit-scrollbar-track{
    background-color: black;
}
.plot .name-box{
    font-family: "VT323";
    width: 150px; 
    text-align: center;
    height: 50px;
    font-size: 50px;
    position: relative;
    top: 20px;
    left: 20px;
}
.plot .data-box{
    height: 150px;
    width: 150px;
    font-family: "VT323";
    position: relative;
    top: 22px;
    left: 20px;
    text-align: left;

}
.data-box a{
    color: red;
    text-decoration: none;
}

.addplot-form{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
    width: 500px;
    height: 500px;
    display: none;
}

.addplot-form form{
    position: absolute;
    width: 95%;
    left: 2.5%;
    display: flex;
    flex-wrap: wrap;
    height: 95%;
    top: 2.5%;
    backdrop-filter: blur(3px) brightness(60%);
    border-radius: 10px;
}

.addplot-form p{
    min-width:80px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    position: absolute;
    font-family: "VT323";
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.addplot-form input{
    height: 30px;
    position: absolute;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px white solid;
    outline: none;
    color: white;
    font-family: "VT323";
    font-size: 17px;
    padding: 0;
    margin: 0;
}

.plotname{
    top: 20px;
    left: 20px;
}
.country{
    top: 90px;
    left: 20px;
}
.state{
    top: 160px;
    left: 20px;
}
.district{
    top: 230px;
    left: 20px;
}
.latitude{
    top: 300px;
    left: 20px;
}
.longitude{
    top: 300px;
    left: 240px;
}
.crop{
    top: 370px;
    left: 20px;
}
.plotName-input{
    top: 20px;
    left: 120px;
}
.country-input{
    top: 90px;
    left: 120px;
}
.state-input{
    top: 160px;
    left: 120px;
}
.district-input{
    top: 230px;
    left: 120px;
}
.lat-input{
    top: 300px;
    left: 70px;
    width: 100px;
}
.lon-input{
    top: 300px;
    left: 290px;
    width: 100px;
}
.crop-input{
    top: 370px;
    left: 120px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#submit{
    background-color: red;
    font-size: 20px;
    top: 420px;
    height: 50px;
    width: 100px;
    border:none;
    border-radius: 50px;
    border: 2px white solid;
    left: 50%;
    translate: -110%;
    cursor: pointer;
}
.cancel{
    background-color: rgba(255, 0, 0, 0.502);
    position: absolute;
    font-family: "VT323";
    color:  white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    top: 420px;
    height: 50px;
    width: 100px;
    border:none;
    border-radius: 50px;
    border: 2px white solid;
    right: 50%;
    translate: 110%;
    cursor: pointer;
}
.close{
    position: absolute;
    height: 30px;
    width: 30px;
    color: white;
    background-color: #212121;
    border-radius: 15px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    right: 0px;
    cursor: pointer;
}