*{
    overflow: hidden;
}

body{
    overflow-y:auto;
}

.navbar{
    height: 50px;
    width: 100vw;
    background-color: #2121219d;
    background: radial-gradient(ellipse at top, blue, #212121);
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    z-index: 1;
    border-bottom: 1px white solid;
    box-sizing: border-box;
}
.navbar a{
    display: flex;
    align-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.navbar p{
    margin: 0px;
    margin-left: 10px;
    font-size: 20px;
    padding: 0px;
    font-family: "VT323";
}
.navbar .icon{
    font-size: 24px;
}
.icon-logo{
    font-size: 30px;
}
.logo p{
    font-family: "Allura";
}

.main{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0px;
    left: 0px;
    background: radial-gradient(ellipse at top, blue, #212121);
}
.profile{
    height: calc(100vh - 50px);
    width: 300px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(to right, blue, #212121);
    border-right: 1px white solid;
    box-sizing: border-box;
}
.avatar{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 50px;
    background: url("https://preview.redd.it/bcyq3rjk2w071.png?width=1080&crop=smart&auto=webp&s=f1393965fbc7cf1c46af84678b83624d4ccdbdf7"), radial-gradient(circle at center, white, #f0f0f0,violet);
    border: 2px red solid;
    box-sizing: border-box;
    background-size: cover;
}
.name{
    height: 50px;
    width: 100%;
    position: absolute;
    color: white;
    font-family: "VT323";
    top: 250px;
    text-align: center;
    font-size: 30px;
}
.settings{
    height: 50px;
    width: 80%;
    color: white;
    font-family: "VT323";
    font-size: 20px;
    justify-self: center;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings a{
    color: white;
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.settings div{
    width: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.setting1{
    top: 310px;
}
.setting2{
    top: 360px;
}
.setting3   {
    top: 410px;
}
.settings i{
    font-size: 15px;
    height: 100%;
}
.settings:hover{
    cursor: pointer;
}
.hidden-settings{
    position: absolute;
    height: 100px;
    width: 80%;
    font-family: "VT323";
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-self: center;
    position: absolute;
    top: 340px;
    transition: all 1s ease-in-out;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
}
.angle{
    transition: all 1s ease-in-out;
}
.angle-rotate{
    transform: rotate(180deg);
}
.appear{
    opacity: 1;
    transform: translateY(120px)
}
.h-setting{
    width: 100%;
    flex-shrink: 0;
    margin-left: 20px;
}
.h-setting a{
    color: white;
    text-decoration: none;
}

.plotdetails{
    height: calc(100vh - 50px);
    width: calc(100% - 300px);
    background: radial-gradient(circle at center,violet, blue,black);
    color: white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow-y: auto;
}
.plot{
    width: 80%;
    height: 300px;
    margin: 10px;
    scrollbar-width: thin;
    backdrop-filter: blur(100px) brightness(60%);
    border-radius: 10px;
    border: 1px blue solid; 
    justify-self: center;
}
.plotdetails::-webkit-scrollbar{
    background-color: #212121;
    width: 10px;
}   
.plotdetails::-webkit-scrollbar-thumb{
    background-color: rgb(49, 49, 69);
    width: 80%; 
}
.plotdetails::-webkit-scrollbar-track{
    background-color: black;
}
.plot .name-box{
    font-family: "VT323";
    width: 150px; 
    text-align: center;
    height: 50px;
    font-size: 50px;
    position: relative;
    top: 20px;
    left: 20px;
}
.plot .data-box{
    height: 150px;
    width: 150px;
    font-family: "VT323";
    position: relative;
    top: 22px;
    left: 20px;
    text-align: left;

}
.data-box a{
    color: red;
    text-decoration: none;
}